<header>
    <nav class="navbar navbar-expand-md">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
        </ul>
    </div>
</header>

<form action="/register" method="POST" class="user-form">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" pattern="^[a-z0-9]{5,15}" title="Username may only contain letters and numbers and must be between 5 and 15 characters.">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" pattern="^[a-z0-9!#$%^&]{5,20}" title="Password may only contain letters, numbers, and the characters !, #, $, %, ^, and & and must be between 5 and 20 characters.">
    </div>
    <input type="submit" class="btn btn-dark" value="Sign up">
</form>

{{#if errorMsg}}
<small>{{errorMsg}}</small>
{{/if}}